@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Custom theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI",
    Roboto, "Helvetica Neue", sans-serif;
}

.navbar{
  background-color: var(--background);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.navbar-items{
  display: flex;
  align-items: center;
  border: 1px solid green;
}
.nav-btns{
  display: flex;
  margin: 2px;
  padding: 2px;
}